@using CvAppen.Web.ViewModels

@model CvAppen.Web.ViewModels.CvViewModel

@* Utbildning *@
<div class="mt-5">
    <h4 class="fw-bold pb-2 border-bottom">Utbildningar</h4>
    @if (Model.Educations.Any())
    {
        @foreach (var edu in Model.Educations)
        {
            <div class="mb-3">
                <span class="fw-bold">@edu.School:</span> @edu.Name
                <span class="text-muted small">(@edu.From.ToString("yyyy") - @edu.To.ToString("yyyy"))</span>
            </div>
        }
    }
</div>

@* Erfarenheter *@
<div class="mt-4">
    <h4 class="fw-bold pb-2 border-bottom">Tidigare erfarenheter</h4>
    @if (Model.EarlierExperiences.Any())
    {
        @foreach (var exp in Model.EarlierExperiences)
        {
            <div class="mb-3">
                <span class="fw-bold">@exp.Company:</span> @exp.Title
                <div class="small text-muted">@exp.From.ToString("yyyy") - @exp.To.ToString("yyyy")</div>
                @if (!string.IsNullOrEmpty(exp.Description))
                {
                    <p class="mb-1">@exp.Description</p>
                }
            </div>
        }
    }
</div>

@* Kompetenser *@
<div class="mt-4">
    <h4 class="fw-bold pb-2 border-bottom">Kompetenser</h4>
    @if (Model.Competences.Any())
    {
        @foreach (var comp in Model.Competences)
        {
            <div class="mb-3">
                <span class="fw-bold">@comp.Title:</span>
            </div>
        }
        
    }
</div>

<div class="mb-4">
    <h4 class="fw-bold pb-2 border-bottom">Kontaktuppgifter</h4>
    <p class="mb-0">@Model.PhoneNumber</p>
</div>