@using System.Security.Claims @*Behövs för att kunna hämta inloggad användares ID i vyn*@

@model List<Project>

@{
    ViewBag.Title = "Projekt";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<h1 class="mb-4">Projekt</h1>

<div class="mb-3">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="btn btn-secondary">Skapa nytt projekt</a>
    }

    <a asp-controller="Profile" asp-action="Index" class="btn btn-outline-secondary btn-sm ms-2">Tillbaka till Profil</a>
</div>


<div class="row">
@foreach (var project in Model)
{
        <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">


                <div class="card-body">

                    <div class="row">

                        @* Vänster kolumn*@
                        <div class="col-7">
                            <h5 class="card-title">@project.Title</h5>
                            <p class="card-text">@project.Description</p>
                            <p>
                                <b>Från:</b> @(project.FromDate?.ToShortDateString() ?? "—") <br />
                                <b>Till:</b> @(project.ToDate?.ToShortDateString() ?? "Pågående")
                            </p>


                            @* Knapp för att redigera. Måste vara inloggad + den som skapade projektet = visar knappen*@
                            @if (User.Identity.IsAuthenticated && project.CreatedByUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                            {
                                <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-outline-secondary btn-sm mt-2">Redigera</a>
                            }
                        </div>

                        @* Höger kolumn *@
                        <div class="col-5">
                            <strong>Deltagare:</strong>
                            <ul class="small list-unstyled mt-2">
                                @foreach (var up in project.UserProjects)
                                {
                                    if (!up.User.IsPrivate || User.Identity.IsAuthenticated)
                                    {
                                        <li>@up.User.Name</li>
                                    }
                                }
                            </ul>

                            @* Knapp för att gå med i projekt, inloggade användare och om inte redan med *@
                            @if (User.Identity.IsAuthenticated && !project.UserProjects.Any(up => up.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <a asp-action="Join" asp-route-projectId="@project.Id" class="btn btn-outline-secondary btn-sm mt-2">Gå med i Projekt</a>
                            }
                        </div>

                    </div>

                </div>

            </div>
    </div>
}
</div>