@model List<Project>

@{
    ViewBag.Title = "Projekt";
}

<h1>Projekt</h1>

@foreach (var project in Model)
{
    <h2>@project.Title</h2>
    <p>@project.Description</p>
  @*   <p><b>Från:</b>@project.FromDate.Value.ToShortDateString()</p> //säkra upp för ev. nullvärde på datum
    <p><b>Till:</b>@project.ToDate.Value.ToShortDateString()</p> *@

    <b>Deltagare:</b>
    <ul>
        @foreach (var up in project.UserProjects)
        {
            if (!up.User.IsPrivate || User.Identity.IsAuthenticated)
            {
                <li>@up.User.Name</li>
            }
        }
    </ul>
    @if (User.Identity.IsAuthenticated) @* Knapp för att gå med, inloggade användare *@
    {
        <a asp-action="JoinProjekt" asp-route-projectId="@project.Id">
            Gå med i projektet
        </a>
    }

}